<html>
    <head>
        <link rel="stylesheet" href="..//css/footer.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/bfcfa6ccbd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>

        <footer>
            <div id="upper-footer">
                <div id="footer_left">
                    <div id="accueil-footer">
                        <h2><a href="#">Accueil</a></h2>
                    </div>
        
                    <div id="ombrieres-footer">
                        <h2><a href="#">Ombrières</a></h2>
                    </div>
                </div>

                <div id="footer-middle">
                    <div id="qui-sommes">
                        <h2><a href="#">Qui sommes-nous ?</a></h2>
                    </div>
        
                    <div id="partenaire-footer">
                        <h2><a href="#">Nos partenaires</a></h2>
                    </div>
                </div>

                <div id="footer-right">
                    <div id="mentions-legales-footer">
                        <h2><a href="#">Mentions légales</a></h2>
                    </div>
                    
                    <div id="contact-footer">
                        <h2><a href="#">Nous contacter</a></h2>
                    </div>        
                </div>

                <div id="logo-and-form">
                </div>
            </div>

            
        </footer>
        </body>
</html>