<html>
    <head>
        <link rel="stylesheet" href="includes/css/footer.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/bfcfa6ccbd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>

        <footer>
            <div id="upper-footer">
                <div id="footer_left">
                    <div id="accueil-footer">
                        <h2><a href="#">Accueil</a></h2>
                    </div>
        
                    <div id="ombrieres-footer">
                        <h2><a href="#">Ombrières</a></h2>
                    </div>
                </div>

                <div id="footer-middle">
                    <div id="qui-sommes">
                        <h2><a href="#">Qui sommes-nous ?</a></h2>
                    </div>
        
                    <div id="partenaire-footer">
                        <h2><a href="#">Nos partenaires</a></h2>
                    </div>
                </div>

                <div id="footer-right">
                    <div id="mentions-legales-footer">
                        <h2><a href="#">Mentions légales</a></h2>
                    </div>
                    
                    <div id="contact-footer">
                        <h2><a href="#">Nous contacter</a></h2>
                    </div>        
                </div>

                <div id="logo-and-form">
                </div>
            </div>

            
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </body>
</html>