<div id="form-container">
    <div class="select-type">
        <div class="cards">
            <a onClick="load_pro()">
                <div class="card pro">
                    <div class="icon-type">
                        <i class="fa-solid fa-briefcase fa-2x"></i>
                    </div>
                    <div class="name-type">
                        <p>Entreprise & Collectivité</p>
                    </div>
                </div>
            </a>
            <a onClick="load_lambda()">
                <div class="card lambda">
                    <div class="icon-type">
                        <i class="fa-solid fa-user-group fa-2x"></i>
                    </div>
                    <div class="name-type">
                        <p>Particulier</p>
                    </div>
                </div>
            </a>
            <a onClick="load_syndic()">
                <div class="card syndic">
                    <div class="icon-type">
                        <i class="fa-solid fa-building fa-2x"></i>
                    </div>
                    <div class="name-type">
                        <p>Syndic de copropriété</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Formulaire -->
    <div class="mailing-form" id="mailing-form">
        <div class="mailing_wrapper">
            <div class="infos pro">
                <h2>service professionnel</h2>
                <hr>
                <div class="details">
                    <span><i class="fa-solid fa-phone"></i>
                        <p>08.32.21.43.12</p>
                    </span>
                    <span><i class="fa-solid fa-location-dot"></i>
                        <p>30 Rue du soleil<br>34000 Montpellier<br>FRANCE</p>
                    </span>
                    <span><i class="fa-solid fa-envelope"></i>
                        <p>sales@sunpower.com</p>
                    </span>
                </div>
            </div>

            <div class="form_wrapper">
                <form action="/" method="post">
                    <div class="sidebyside">
                        <input type="text" name="societyname" id="societyname" required placeholder="Raison social">
                        <input type="text" name="qualite" id="qualite" required placeholder="Qualité">
                    </div>
                    <div class="sidebyside">
                        <input type="text" name="lname" id="lname" required placeholder="Nom">
                        <input type="text" name="fname" id="fname" required placeholder="Prénom">
                    </div>
                    <div class="sidebyside">
                        <input type="email" name="email" id="email" required placeholder="Email">
                        <input type="text" name="adresse" id="adresse" required placeholder="Adresse">
                    </div>
                    <div class="sidebyside upload">
                        <input type="tel" name="tel" id="tel" required placeholder="Téléphone">
                        <button type="button" id="upload" onclick="uploadFile()"><i
                                class="fa-solid fa-upload"></i>Joindre un fichier</button>
                    </div>
                    <textarea name="description" id="description" required placeholder="Description"></textarea><br>
                </form>
            </div>
        </div>
        <input id="submit_btn" type="submit" value="Envoyer ➝">
    </div>
</div>