@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap');

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}

p, a {
    font-family: 'Inter', sans-serif;
}

/* BANNIERE TITRE */

div.title-content {
    height: fit-content;
    padding: 45px 10px 45px 10px;
    margin-left: -10px;
    margin-right: -10px;;
    width: 100%;
    margin-top: 19em;
    background: #181925;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.15);
    transform: rotate(-3.51deg);
    text-align: center;
    color: var(--main-yellow-color);
}

    div.title-content h2,
    div.title-content h3,
    div.title-content hr {
        transform: rotate(3.51deg)!important;
    }


    div.title-content hr {
        width: 5%;
        background-color: var(--main-yellow-color);
        border: none;
        height: 1px;
    }

/* SELECTION TYPE DE FORMULAIRE */

div.select-type {
    text-align: center;
    width: 80%;
    margin: 100px auto 0 auto;
    color: var(--main-dark-color);
    display: flex;
    justify-content: center;
}

    div.select-type div.cards {
        display: flex;
        justify-content: center;
        margin: 10px 10px 10px 10px;
    }

    div.select-type div.cards div.card {
        background-color: var(--main-yellow-color);
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px 0 10px;
        cursor: pointer;
    }

/* FORMULAIRE */    

/* .upload {
    width: 210px;
    margin: 5px 0 5px 0;
    height: 38px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-green-color);
    color: var(--main-yellow-color);
}
.upload svg {
    margin-right: 10px;
} */

.mailing-form {
    display: flex;
    margin-inline: 5em;
    background-color: var(--main-yellow-color);
}

.mailing-form .infos {
    flex: 1;
}

.mailing-form .form_wrapper {
    flex: 3;
}

.sidebyside {
    display: flex;
    gap: 3em;
    margin-block: 2em;
}

.sidebyside input[type="text"],
.sidebyside input[type="email"],
.sidebyside input[type="tel"] {
    width: 80%;
    height: 2rem;
}

.sidebyside input[type="text"],
.sidebyside input[type="email"],
.sidebyside input[type="tel"],
textarea {
        background-color: var(--main-font-color);
        border: 3px solid var(--main-green-color);
        border-radius: 5px;
    }

div.mailing-form div.infos {
    border-radius: 10px;
    background-color: var(--main-green-color);
}

div.mailing-form div.infos h2 {
    color: var(--main-yellow-color);
    text-transform: uppercase;
}

div.mailing-form div.infos hr {
    width: 50%;
    margin-top: -10px;
    margin-bottom: 15px;
    border: none;
    background-color: var(--main-yellow-color);
    height: 2px;
    border-radius: 100%;
}

div.mailing-form div.infos span {
    text-align: left;
    display: flex;
    align-items: center;
}

div.mailing-form div.infos span p {
    color: var(--main-font-color);
    margin: 10px 10px 10px 10px;
}

div.mailing-form div.infos span svg {
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 100%;
    background-color: var(--main-yellow-color);
    color: var(--main-green-color);
}
/* div.mailing-form div.infos {
    border-radius: 10px;
    background-color: var(--main-green-color);
    padding: 20px;
    height: 300px;
    width: 30%;
} */

/* div.mailing-form {
    text-align: center;
    margin: 100px auto 0 auto;
    color: var(--main-dark-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--main-yellow-color);
    border-radius: 10px;
    padding: 20px;
    height: fit-content
}

    div.mailing-form div.infos {
        border-radius: 10px;
        background-color: var(--main-green-color);
        padding: 20px;
        height: 300px;
        width: 30%;
    }

    div.mailing-form div.infos h2 {
        color: var(--main-yellow-color);
        text-transform: uppercase;
    }

    div.mailing-form div.infos hr {
        width: 50%;
        margin-top: -10px;
        margin-bottom: 15px;
        border: none;
        background-color: var(--main-yellow-color);
        height: 2px;
        border-radius: 100%;
    }

    div.mailing-form div.infos span {
        text-align: left;
        display: flex;
        align-items: center;
    }

    div.mailing-form div.infos span p {
        color: var(--main-font-color);
        margin: 10px 10px 10px 10px;
    }

    div.mailing-form div.infos span svg {
        width: 15px;
        height: 15px;
        padding: 5px;
        border-radius: 100%;
        background-color: var(--main-yellow-color);
        color: var(--main-green-color);
    }

    div.mailing-form form {
        height: 338px;
        width: 60%;
    }

    div.mailing-form form input[type="text"],
    div.mailing-form form input[type="tel"],
    div.mailing-form form input[type="email"] {
        width: 210px;
        margin: 5px 0 5px 0;
        height: 38px;
    }

    

    div.mailing-form form textarea {
        resize: none;
        width: 97.5%;
        margin: 5px 0 5px 0;
        height: 207px;
    }


    div.mailing-form form input[type="submit"] {
        background-color: var(--main-green-color);
        color: var(--main-font-color);
        height: 60px;
        width: 200px;
        border-radius: 15px;
        font-size: 20px;
        float: right;
        cursor: pointer;
    }

    .upload {
        width: 210px;
        margin: 5px 0 5px 0;
        height: 38px;
        border-radius: 15px;
        border: none;
        background-color: var(--main-green-color);
        color: var(--main-yellow-color);
    }
    .upload svg {
        margin-right: 10px;
    }

    .dropzone {
        display: none;
    } */
