div.title-content-1 {
    position: absolute;
    height: fit-content;
    width: 120%;
    padding: 45px 10px 45px 10px;
    left: -100px;
    top: 350px;
    background: #181925;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.15);
    transform: rotate(-3.51deg);
    text-align: center;
    color: var(--main-yellow-color);
}

    div.title-content-1 h2,
    div.title-content-1 h3,
    div.title-content-1 hr {
        transform: rotate(3.51deg)!important;
    }


    div.title-content-1 hr {
        width: 15%;
        background-color: var(--main-yellow-color);
        border: none;
        height: 1px;
    }

div.title-content-2 {
    position: absolute;
    height: fit-content;
    width: 120%;
    padding: 45px 10px 45px 10px;
    left: -100px;
    top: 68em;
    background: #181925;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.15);
    transform: rotate(3.51deg);
    text-align: center;
    color: var(--main-yellow-color);
}
    
        div.title-content-2 h2,
        div.title-content-2 h3,
        div.title-content-2 hr {
            transform: rotate(-3.51deg)!important;
        }
    
    
        div.title-content-2 hr {
            width: 15%;
            background-color: var(--main-yellow-color);
            border: none;
            height: 1px;
        }

div.title-content-3 {
    position: absolute;
    height: fit-content;
    width: 120%;
    padding: 45px 10px 45px 10px;
    left: -100px;
    top: 130em;
    background: #181925;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.15);
    transform: rotate(3.51deg);
    text-align: center;
    color: var(--main-yellow-color);
}
    
        div.title-content-3 h2,
        div.title-content-3 h3,
        div.title-content-3 hr {
            transform: rotate(-3.51deg)!important;
        }
    
    
        div.title-content-3 hr {
            width: 15%;
            background-color: var(--main-yellow-color);
            border: none;
            height: 1px;
        }


div.group-content {
    width: 80%;
    margin: 150px auto 0 auto;
}

    div.group-content p {
        color: var(--main-font-color);
        text-align: center;
    }
    div.group-content p img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        margin-top: 30px;
    }


div.founders-content {
    width: 100%;
    margin: 380px auto 0 auto;
    display: flex;
    justify-content: center;
}

    div.founders-content div.cards {
        width: 50em;
    }

    div.founders-content div.cards div.card {
        display: flex;
        justify-content: center;
        margin: 50px 0 50px 0;
    }

    div.founders-content div.cards div.card img.founder-img {
        width: 7em;
        height: auto;
        position: absolute;
    }

    div.founders-content div.cards div.card div.founder-infos {
        width: 50%;
        -webkit-box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
    }

    div.founders-content div.cards div.card div.founder-infos p {
        padding: 10px 15% 10px 15%;
    }

    div.founders-content div.cards div.card:nth-child(1) img {
        margin-left: -210px;
        margin-top: -30px;
        border-radius: 5px;
        -webkit-box-shadow: 30px 28px 15px -15px rgba(0,0,0,0.5); 
        box-shadow: 30px 28px 15px -15px rgba(0,0,0,0.5);
    }
    div.founders-content div.cards div.card:nth-child(1) div.founder-infos {
        background-color: var(--main-yellow-color);
        border-radius: 5px;
    }

    div.founders-content div.cards div.card:nth-child(2) img {
        margin-left: 210px;
        margin-top: -30px;
        border-radius: 5px;
        -webkit-box-shadow: -30px 30px 15px -15px rgba(0,0,0,0.5); 
        box-shadow: -30px 30px 15px -15px rgba(0,0,0,0.5);
    }
    div.founders-content div.cards div.card:nth-child(2) div.founder-infos {
        background-color: var(--medium-gray);
        color: var(--main-font-color);
        text-align: right;
        border-radius: 5px;
    }

    div.founders-content div.cards div.card:nth-child(3) img {
        margin-left: -210px;
        margin-top: -30px;
        border-radius: 5px;
        -webkit-box-shadow: 30px 28px 15px -15px rgba(0,0,0,0.5); 
        box-shadow: 30px 28px 15px -15px rgba(0,0,0,0.5);
    }
    div.founders-content div.cards div.card:nth-child(3) div.founder-infos {
        background-color: var(--main-green-color);
        color: var(--main-font-color);
        border-radius: 5px;
    }


div.partners-content {
    margin: 400px 0 50px 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

div.partners-content img {
    width: 15%;
    height: 15%;
    margin: 0 20px 0 20px;
}