:root {
    --main-green-color: #1D574D;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar {
    background-color: #181925;
    padding-block: 1em;
    display: block;
    width: 100%;
    /* height: 85px; /* apres animation js -> 55px  */
    justify-content: space-between;
    filter: drop-shadow(0px 5px 8px #000);
}

div.navbar-nav.scrolled {
    height: 55px!important;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.burger {
    display: block;
    position: absolute;
    background: red;
    width: 1rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
}

@media (min-width: 780px) {
    .nav-links {
        flex-direction: row;
        margin-right: 1em;
    }

    .burger {
        display: none;
    }

    nav.navbar {
        display: inline-flex;
    }
}

.nav-link {
    margin-inline: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #E4E3E1;
}


/* #logo_icon {
    height: 3em;
} */

#logo_text {
    height:3em;
    height: clamp(2em,3em,5em)
}