:root {
    --main-green-color: #1D574D;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar {
    display: inline;
}

ul {
    display: inline-flex;
}



#logo_icon {
}

#logo_text {

}