:root {
    --main-yellow-color: #FAC86F;
    --main-dark-color: #242530;
    --main-green-color: #1D574D;
    --main-darker-color: #181925;
    --main-font-color: #E4E3E1;
    --medium-gray: #2C2E44;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: var(--main-dark-color);
    font-family: 'Inter', sans-serif;
}

div.body-content {
    margin-top: 85px;
    z-index: 1;
    background-color: var(--main-dark-color);
}

div.banner-top {
    width: 100%;
    z-index: -1;
}

    div.banner-top img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-top: auto;
    }

nav.navbar {
    background-color: var(--main-darker-color);
    width: 100%;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 5px 8px #000);
    justify-content: space-between;
    z-index: 99;
    position: fixed;
    top: 0;
    height: 100px;
    transition: .2s ease-in-out;
}

    nav.navbar.scrolled {
        height: 85px!important;
        transition: .2s ease-in-out;
    }

.nav-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
    z-index: 99;
}

.nav-head div {
    display: flex;
    align-items: center;
    z-index: 99;
}

#logo_text {
    height: 2.5em;
}

#logo_icon {
    height: 6em;
}

.nav-links {
    padding: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    padding-inline: 4em;
    gap: 4em;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2em;
    opacity: 1;
    color: var(--main-font-color);
}

.nav-link::after {
    content: "";
    display: block;
    height: 1.5px;
    bottom: -1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--main-yellow-color);
    transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

a.nav-link.current {
    color: var(--main-yellow-color)!important;
}

.burger {
    display: none;
}

.open {
    transform: translate(0);
}