div.navigation-dot svg {
    color: var(--main-yellow-color);
    cursor: pointer;
    margin: 0 1em 0 1em;
    z-index: 1;
}



#map {
    margin-top: 200em;
    height: 400px;
    width: 100%;
}

.splide__pagination {
    counter-reset: pagination-num;
}
  
.splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter( pagination-num );
}

.splide__slide div {
    width: 100vw;
    display: flex;
}

#img_slide1 {
    width: 30em;
}
.slide1_text {
    display: flex;
    flex-direction: column;
}

.img_text {
    display: flex;
    flex-direction: column;
}

.slide2 {

}

.slide3 {
}
