@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap');

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p,
a {
    font-family: 'Inter', sans-serif;
}

/* STYLE DE LA MAP */
#map {
    margin-top: 3em;
    height: 400px;
    width: 100%;
    margin-bottom: -15px;
}

/* MAIN WRAPPER */
.main_wrapper {
    width: 100%;
    margin-top: 15vh;
}

.main_wrapper section {
    flex: 1;
}

.desc_text {
    background-color: var(--main-green-color);
    margin: 0;
    padding: 2vw;

}

.desc_text h2 {
    margin: 0;
    text-align: center;
    color: var(--main-font-color);
    margin-block: 3vh;
    font-size: 2.3vmax;
    background-color: transparent;
    text-shadow: #000000;
}

.desc_text h3::after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 3px;
    width: 10%;
    background: var(--main-yellow-color);
}

.desc_text div h3 {
    margin: 0;
    margin-block: 2vh;
    color: var(--main-font-color);
    font-size: 1.8vmax;
}

.desc_text div p {
    margin: 0;
    color: var(--main-font-color);
    text-justify: auto;
    font-size: 1.6vmax;
}


@media (min-width: 832px) {
    .main_wrapper {
        display: flex;
    }

}

.splide__pagination__page.is-active {
    background: var(--main-yellow-color);
    border: 2px solid var(--main-yellow-color);
}

.splide__pagination__page {
    margin-inline: 0.5em;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    border: 3px solid var(--main-yellow-color);
    font-size: 24px;
    font-family: "Abril Fatface", serif;
}

.splide__pagination {
    position: absolute;
    transform: translateY(-4em);
    left: -5.1em;
    padding: 0;
}


@media (max-width: 832px) {

    .desc_text {
        padding: 2vw;
        padding-bottom: 3em;
        margin-bottom: 3em;
    }

    .desc_text h2 {
        margin-block: 3vh;
        font-size: 2.8vmax;
    }

    .desc_text h3:after {
        content: "";
        display: block;
        height: 3px;
        bottom: -10px;
        width: 10%;
        background: var(--main-yellow-color);
    }

    .desc_text div h3 {
        margin-block: 2vh;
        font-size: 2.6vmax;
    }

    .desc_text div p {
        text-justify: auto;
        font-size: 2.4vmax;
    }

    .splide__pagination {
        position: initial;
        transform: translateY(-1.4em);
    }

}



.splide__slide img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: fill;
}

.splide__track,
.splide__list,
.splide__slide {
    height: 100%;
    width: 100%;
}