/* @media (max-width: 862px) {


    div.mailing-form {
        width: 80%!important;
        flex-direction: column;
        align-items: center;
        height: 100%!important;
    }

        div.mailing-form div.infos {
            width: 90%!important;
            margin-top: -50px;
        }

        div.mailing-form form {
            width: 98%!important;
            margin-top: -50px;
        }

        div.mailing-form form input[type="text"],
        div.mailing-form form input[type="tel"],
        div.mailing-form form input[type="email"] {
            width: 47%;
            margin: 5px 0 5px 0;
            height: 38px;
        }

} */